<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true">

  <targets xsi:type="AsyncWrapper">
    <!--保存至文件-->
    <target xsi:type="File" name="File"
            fileName="${basedir}/Logs/${shortdate}_Log.txt"
            layout="${longdate} | ${message} "/>

    <!--输出至邮件-->
    <target xsi:type="Mail" name="Mail"
        smtpServer="smtpdm.aliyun.com"
        smtpPort="25"
        smtpAuthentication="Basic"
        smtpUserName="service@dunaifen.top"
        smtpPassword="QIPeng1993"
        enableSsl="false"
        addNewLines="true"
        from="service@dunaifen.top"
        to="Toki.Qi@outlook.com"
        subject="系统消息"
        header="******************************************"
        body="${longdate}${newline}${message} "
        footer="******************************************"/>

    <target xsi:type="Database" name="Database"
        connectionString="Data Source=106.14.213.80;Initial Catalog=IndexCRM;User ID=sa;Password=qipeng19(#"
        commandText="INSERT INTO [dbo].[SystemLog] ([LogLevel],[StackTrace],[Message]) VALUES (@logLevel,@stackTrace,@message)">

      <!--日志等级-->
      <parameter name="@logLevel" layout="${level}"/>
      <!--日志消息-->
      <parameter name="@message" layout="${message}"/>
      <!--堆栈信息-->
      <parameter name="@stackTrace" layout="${stacktrace}"/>
    </target>
  </targets>

  <rules>
    <logger name="*" level="Info" writeTo="File" />
    <logger name="*" levels="Error" writeTo="Database" />
    <logger name="*" level="Fatal" writeTo="Database" />
    <logger name="*" level="Warn" writeTo="Mail" />
  </rules>
</nlog>